<!DOCTYPE html>
<html>
    <meta name="viewport" content="with = device-width initial-scale = 1.0"> 
    <head>
        <title>Squad-Dineout</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <section class="header">
        <nav>
            <a href="home.html">
                <img src="Images/Logo.png"  width="120" height="120">
            </a>
        </nav>

        <div class="text-box">
            <h1>Restaurant Recommendation System for Groups using Aspect Based Summarization</h1>
            <p style="color: honeydew;">Most work on recommendation systems is focused on individual users.
                 Our project takes a step forward and focuses on recommending restaurants to a group of users than individuals based on user reviews.</p>
        </div>
        </section>
    </body>

</html>